<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Disciplinas</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
    <header>
        <div class="back-button">
            <a href="indexAluno.html">Voltar</a>
        </div>
        <h1>Sistema Escolar</h1>
    </header>

    <main>
        <div class="disciplinas-container">
            <h2>Lista de Estudantes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Turma</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <% alunos.forEach(aluno => { %>
                        <tr>
                            <td><%= aluno.matricula %></td>
                            <td><%= aluno.nome %></td>
                            <td><%= aluno.turma %> </td>
                            <td><%= aluno.email %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Sistema Escolar. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
